/**/
/*Master style css - all the css files that are not from a widget are collected here*/
body {
    background-image: url("Background.png");
    background-repeat: repeat-x;
}

/*navbar style*/

@media (min-width: 980px) {
    .navbar-header img {
        width: 476px;
        height: 103px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .navbar-header img {
        width: 376px;
        height: 83px;
    }
}

@media (max-width: 767px) {
    .navbar-header img {
        width: 236px;
        height: 83px;
    }
}

@media (max-width: 480px) {
    .navbar-header img {
        width: 100px;
        height: 73px;
        display: inline;
    }
}

.intelekt-nav-left, .navbar-right {
    margin-top: 2%;
}

.intelekt-nav-left li a {
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 0px;
}

.navbar-right button {
    margin-left: 10px;
}

.modules-buttons {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.modules-buttons button {
    margin: 10px;
    width: 90%;
    padding: 4%;
}

.modules-lect-button a, .modules-lect-button button {
    margin-bottom: 2%;
}

.modules-lect-button a {
    margin-left: 10%;
    margin-right: 10%;
}

.modules-lect-button button {
    margin-left: 2%;
}

.lectureBTN {
    margin-left: 40%;
    margin-bottom: 1%;
}

.glypbuttons {
    float: right;
    margin-left: 4px;
}

/*Modules page*/

iframe {
    margin-left: 9%;
}

.date-deadline {
    float: right;
}

.textnotes {
    width: 100%;
}

.form-comments {
    width: 80% !important;
}

.lecturesUploaded {
    text-align: center;
}

.formInlineUp {
    display: inline !important;
}

.formInlineUp input {
    width: 64% !important;
}

.formInlineMargin {
    margin-top: 3%;
}

/*Forum css*/
.forumlike {
    margin-bottom: 6px;
    margin-right: 4px;
}

.askbtn {
   margin-left: 80%;
}


#topic{
    font-size: 30px;
    text-align: center;
    margin-left: 20%;
}

.responsebody{
    background-color: #E8E8E8;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}


#edit {
    margin-left: 80%;
}

.forumlike {
    margin-bottom: 6px;
    margin-right: 4px;
}

.askbtn {
   margin-left: 80%;
}


#topic{
    font-size: 30px;
    text-align: center;
    margin-left: 20%;
}

.responsebody{
    background-color: #E8E8E8;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}


#edit {
    margin-left: 80%;
}
